*{
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar{
	display: none;
}  

.header {
	height: 100vh; 
}

body {
	height: 100vh; 
}

.header > svg {
	position: absolute;
	bottom: 0;
}

#home {
	background-color: pink;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#about-me {
	background-color: green;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#projects {
	background-color: brown;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#contact {
	background-color: orange;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#footer {
	background-color: black;
	color: white;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}