#landing {
	color: #fff;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	/* Create the parallax scrolling effect */
	background-image: url('.././assets/images/bg/landing-bg-dark.svg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
 /* Custom Nav styling */
#navbar {
	top: 0;
	width: 100%;
	font-weight: bold;
	padding: 0 !important;
	position: fixed;
	z-index: 998;
}

.navbar-nav li {
	padding: 0 10px;
}

.navbar-nav li a {
	font-weight: bold;
	float: right;
}

#nav-font > li > a {
	color: white;
	opacity: 0.6;
	transition: .2s ease;
}

#nav-font > li > a:hover {
	color: white;
	opacity: 1;
	cursor: pointer;
	transition: .2s ease;
}

.nav-content {
	display: flex;
	justify-content: end;
	font-size: 30px;
}

.nav-content > a {
	text-decoration: none;
}

.nav-content > a:hover {
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.navbar-nav li a {
	color: white;
	font-weight: bold;
	float: right;
}
/* End Nav  */

.landing-page {
	padding: 10px;
	line-height: 10px;
}

/* Logo styling  */
.logo {
	position: fixed;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.5rem;
	font-weight: 500;
	color: #eee !important;
	padding: 10px 0px 0px 18px;
	z-index: 999;
	text-shadow: 2px 2px #FF0066;
}
/* End logo */
 
/* Button styling zone */
.hello {
	font-size: 30px;
	text-shadow: 1px 1px #000000;
}

.heading {
	font-size: 69px;
	font-weight: 500;
	letter-spacing: 4px;
	text-shadow: 2px 2px #FF0066;
}

.sub {
	font-family: verdana;
	font-size: 21px;
	width: 500px;
	line-height: 30px;
	text-shadow: 1px 1px #000000;
}

.fancy {
	background-color: transparent;
	border: 2px solid #FF0066;
	border-radius: 0;
	box-sizing: border-box;
	color: #FF0066;
	cursor: pointer;
	float: left;
	font-weight: 700;
	letter-spacing: 0.05em;
	margin: 0;
	outline: none;
	overflow: visible;
	padding: 1.25em 2em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	transition: all 0.3s ease-in-out;
	user-select: none;
	font-size: 13px;
}

#fancy {
	text-decoration: none;
}

.fancy::before {
	content: " ";
	width: 1.5625rem;
	height: 2px;
	background: #fff;
	top: 50%;
	left: 1.5em;
	position: absolute;
	transform: translateY(-50%);
	transform-origin: center;
	transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
	font-size: 1.125em;
	line-height: 1.33333em;
	padding-left: 2em;
	display: block;
	text-align: left;
	transition: all 0.3s ease-in-out;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

.fancy .top-key {
	height: 2px;
	width: 1.5625rem;
	top: -2px;
	left: 0.625rem;
	position: absolute;
	background: #e8e8e8;
	transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
	height: 2px;
	width: 1.5625rem;
	right: 1.875rem;
	bottom: -2px;
	position: absolute;
	background: #e8e8e8;
	transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
	height: 2px;
	width: 0.625rem;
	right: 0.625rem;
	bottom: -2px;
	position: absolute;
	background: #e8e8e8;
	transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
	color: white;
	background: #FF0066;
}

.fancy:hover::before {
	width: 0.9375rem;
	background: white;
}

.fancy:hover .text {
	color: white;
	padding-left: 1.5em;
}

.fancy:hover .top-key {
	left: -2px;
	width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
	right: 0;
	width: 0;
}
/* End button styling */


/* Home Page zone */
#home {
	color: #fff;
	background-image: url('.././assets/images/bg/stacked-bg-dark.svg');
	padding: 100px 0;
	overflow-x: hidden;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.about-heading h1 {
	font-size: 69px;
	font-weight: 500;
	letter-spacing: 4px;
	margin-top: 20%;
	margin-bottom: 10%;
	text-transform: uppercase;
	text-shadow: 3px 3px #111;
}

.about-subheading {
	font-size: 24px;
	letter-spacing: 1px;
	font-weight: normal;
	text-shadow: 2px 2px #111;
}

.abt-heading::before {
	content: "About";
	border-bottom: 5px solid #FF0066;
}

.me-heading::before {
	content: " Me";
	padding-bottom: 20px;
	border-bottom: 5px solid #FF0066;
}

.home-cover > img {
	width: 100%;
	padding-bottom: 20px;
}

.options {
	margin-top: 15px;
}
/* End Home Page  */

/* About Page Zone  */
#about {
	color: #fff;
	padding: 60px 0px 0px 0px;
	overflow-x: hidden;
	/* Create the parallax scrolling effect */
	background-image: url('.././assets/images/bg/others-bg-dark.svg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.goal-heading::before {
	content: "goal";
	border-bottom: 5px solid #FF0066;
}

.roadmap-heading::before {
	content: "roadmap";
	font-size: 45px;
	border-bottom: 5px solid #FF0066;
}

.goal-subheading, .roadmap-subheading {
	font-size: 24px;
	font-family: arial;
	font-weight: normal;
}

.languange > div > img {
	padding: 100px 20px 20px 20px;
	width: 40%;
}

h3 {
	padding: 20px 0 100px 0;
}

.row-bot {
	padding-bottom: 100px;
}
/* End About Page  */

/* Project Page Zone */
#projects {
	color: #fff;
	padding: 100px 0;
	overflow-x: hidden;
	/* Create the parallax scrolling effect */
	background-image: url('.././assets/images/bg/projects-bg-dark.svg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.projects-heading::before {
	content: "Projects";
	font-size: 45px;
	border-bottom: 5px solid #FF0066;
	text-shadow: 2px 2px #FF0066;
}

.pc {
	display: block;
	padding: 50px 0;
}

.cp {
	display: none;
	padding: 50px 0;
}

.cp2 {
	display: none;
}

.projects-capstone1::before {
	content: "Capstone 01";
	border-bottom: 5px solid #FF0066;
	text-shadow: 2px 2px #FF0066;
}

.projects-ukay::before {
	content: "Okay ukay";
	border-bottom: 5px solid #FF0066;
	text-shadow: 2px 2px #FF0066;
}

.projects-coming-soon::before {
	content: "coming soon";
	border-bottom: 5px solid #FF0066;
	text-shadow: 2px 2px #FF0066;
}

.capstone-1 {
	padding-top: 100px;
}

.projects-heading-2 {
	font-size: 45px;
	;
}
/* End Project Page  */

/* Contact Page Zone */
#contact {
	color: #fff;
	padding: 30px 0;
	overflow-x: hidden;
	/* Create the parallax scrolling effect */
	background-image: url('.././assets/images/bg/others-bg-dark.svg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.contact-heading::before {
	content: "Contact";
	border-bottom: 5px solid #FF0066;
}

.me2-heading::before {
	content: " Me";
	padding-bottom: 20px;
	border-bottom: 5px solid #FF0066;
}

.contact-form {
	margin-bottom: 50px;
}

.img {
	background-image: url('.././assets/images/meh/contact-thumb.png');
	height: 100%;
} 
/* End Contact Page */

/* Footer Zone  */
#footer {
	color: #fff;
	background-color: #000000; 
	height: 100vh;
	padding: 200px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.top-btn {
	position: fixed;
	bottom: 10px;
	right: 10px;
	opacity: 0.6;
	transition: .5s ease-in-out;
}

.top-btn:hover {
	cursor: pointer;
	opacity: 1;
	transition: .5s ease-in-out;
}

.toggle-btn {
	position: fixed;
	bottom: 10px;
	left: 10px;
	opacity: 0.6;
	transition: .5s ease-in-out;
}

.toggle-btn:hover {
	cursor: not-allowed;
	transition: .5s ease-in-out;
}

.socmed {
	text-decoration: none;
}

.socmed > img {
	width: 60px;
	padding: 5px;
	padding-bottom: 20px;
}
/* End Footer  */